.page {
  display: flex;
  flex-direction: column;
  
  height: 100vh;
  background-color: var(--background);
  & header {
    border-bottom: 1px solid var(--foreground);
    background-color: var(--cream-400);
  }
  & main {
    padding-top: 3rem;
    flex: 1;
    background-color: var(--cream-500);
  }
}

.center {
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .page {
    height: 100vh;
    & header {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    & main {
      padding-top: 2rem;
      /* padding: 48px; */
    }
  }

  .center {
    width: 60%;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .page {
    height: 100vh;
    & header {
      /* padding-left: 40px;
      padding-right: 40px; */
    }
    & main {
      /* padding: 40px; */
    }

  }
}
@media (max-width: 1024px) {
  .page {
    height: 100vh;
    & header {
      padding-left: 32px;
      padding-right: 32px;
    }
    & main {
      /* padding: 32px; */
    }
  }
}

@media (max-width: 768px) {
  .page {
    height: 100svh;
    & header {
      padding-left: 24px;
      padding-right: 24px;
    }
    & main {
      /* padding: 24px; */
    }
  }
}

@media (max-width: 480px) {
  .page {
    height: 100svh;
    & header {  
      padding-left: 1rem;
      padding-right: 1rem;
    }
    & main {
      /* padding: .5rem; */
    }
  }
  .center {
    width: 90%;
    margin: 0 auto;
  }
}