.page {
  display: flex;
  flex-direction: column;
  
  height: 100vh;
  background-color: var(--background);
  & header {
    border-bottom: 1px solid var(--foreground);
    padding-left: 48px;
    padding-right: 48px;
    background-color: var(--cream-400);
  }
  & main {
    flex: 1;
    background-color: var(--cream-500);
  }
  & footer {
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
    background-color: var(--cream-500);
  }
}


.autocompleteSection {
  & h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
  }
  width: 60%;
  margin: 0 auto;
  border: 1px solid var(--foreground);
  height: 200px;
}

.center {
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .page {
    height: 100vh;
    background-color: aquamarine;
    & header {
      padding-left: 48px;
      padding-right: 48px;
    }
    & main {
      padding: 48px;
    }
  }
}

@media (max-width: 1200px) {
  .page {
    height: 100vh;
    background-color: green;
    & header {
      padding-left: 40px;
      padding-right: 40px;
    }
    & main {
      padding: 40px;
    }
  }
}
@media (max-width: 1024px) {
  .page {
    height: 100vh;
    background-color: hotpink;
    & header {
      padding-left: 32px;
      padding-right: 32px;
    }
    & main {
      padding: 32px;
    }
  }
}

@media (max-width: 768px) {
  .page {
    height: 100svh;
    background-color: hotpink;
    & header {
      padding-left: 24px;
      padding-right: 24px;
    }
    & main {
      padding: 24px;
    }
  }
}

@media (max-width: 480px) {
  .page {
    height: 100svh;
    background-color: gold;
    & header {  
      padding-left: 16px;
      padding-right: 16px;
    }
    & main {
      padding: 16px;
    }
  }
}