.chipsContainer {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  padding: 0.4rem;
  padding-left: .6rem;
  padding-right: .6rem;
  border-radius: 0.8rem;
  border: 1px solid var(--brick);
  outline: 1px solid var(--cream-400);
  background-color: transparent;
  transition: outline 0.3s ease;
  @media (max-width: 768px) {
    font-size: 1.4rem;
  }
  &:has(button:hover) {
    outline: 1px solid var(--brick);
  }
  & button {
    background: none;
    border: none;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    padding: 0;
    margin: 0;
    opacity: .4;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: .8;
    }
    & svg { 
      width: 1rem;
      height: 1rem;
      stroke: var(--brick);
    }
  } 
}