.footer {
  margin-top: auto;
  padding: .5rem 0;
  background-color: var(--cream-400);
  border-top: 1px solid var(--brick);
}

.copyright {
  width: 100%;
  text-align: center;
  color: var(--brick);
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section {
    width: 100%;
  }
} 